@media (max-width: 476px) {
  .work.container {
    padding: 0;
  }
}
.work .work__wrapper {
  position: relative;
  padding: 40px 60px;
  margin-top: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: rgba(94, 94, 94, 0.2);
  border-radius: 50px;
  z-index: 1;
  -webkit-backdrop-filter: blur(27px);
          backdrop-filter: blur(27px);
  overflow: hidden;
}
.work .work__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(90deg, #c02c30, #fbbb49, #b75af5, #6d78f2);
  border-radius: 50px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.work .work__wrapper .work__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work .work__wrapper .work__title .work__title__main {
  color: #fff;
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 768px) {
  .work .work__wrapper .work__title .work__title__main {
    font-size: 48px;
  }
}
@media (max-width: 476px) {
  .work .work__wrapper .work__title .work__title__main {
    word-break: break-word;
  }
}
.work .work__wrapper .work__title .work__title__note {
  color: #ff7400;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.work .work__wrapper .work__content {
  display: flex;
  flex-direction: column;
}
.work .work__wrapper .work__content .work__content__steps {
  margin-top: 40px;
  display: flex;
  gap: 60px;
}
.work .work__wrapper .work__content .work__content__steps .step {
  display: flex;
  flex-direction: column;
  font-family: "Dela Gothic One", sans-serif;
  gap: 16px;
  max-width: 50%;
}
.work .work__wrapper .work__content .work__content__steps .step .step__number {
  display: inline-flex;
  padding: 11px 17px;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 71px;
  background: #ff7400;
}
@media (max-width: 476px) {
  .work .work__wrapper .work__content .work__content__steps .step .step__number {
    font-size: 16px;
  }
}
.work .work__wrapper .work__content .work__content__steps .step .step__title {
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .work .work__wrapper .work__content .work__content__steps .step .step__title {
    white-space: initial;
    font-size: 29px;
  }
}
@media (max-width: 476px) {
  .work .work__wrapper .work__content .work__content__steps .step .step__title {
    font-size: 26px;
  }
}
.work .work__wrapper .work__content .work__content__steps .step .step__description {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 130%;
}
@media (max-width: 476px) {
  .work .work__wrapper .work__content .work__content__steps .step .step__description {
    font-size: 22px;
  }
}
@media (max-width: 1280px) {
  .work .work__wrapper .work__content .work__content__steps .step {
    max-width: initial;
  }
}
@media (max-width: 1280px) {
  .work .work__wrapper .work__content .work__content__steps {
    flex-direction: column;
  }
}
@media (max-width: 1280px) {
  .work .work__wrapper {
    padding: 40px 30px;
  }
}
@media (max-width: 1024px) {
  .work .work__wrapper {
    padding: 40px 20px;
  }
}/*# sourceMappingURL=work.css.map */